<section>
  <div>

    <h1>{{activityFromDB.title}}</h1>

    <div class="box details">
      <div>
        <h4>Description</h4>
        <p>{{activityFromDB.description}}</p>
      </div>

      <div>
        <h4>Creator</h4>
        <p>The author of this activity is {{activityFromDB.author.username}}</p>
      </div>

    </div>

  </div>

<div class="button-together">
  {{#if authorIsUser}}
    {{#if currentUrl}}
      <button class="button" type="submit">
        <a href="/activity/{{activityFromDB._id}}/edit">Edit this activity</a>
      </button>

      <form action="/activities/{{activityFromDB.id}}/delete" method="POST">
        <button class="button" type="submit">Delete activity</button>
      </form>
    {{/if}}

  {{/if}}
  
  <div>
    <form action="/activities/{{activityFromDB.id}}/details" method="post">
    <button class="button" type="submit">Log activity</button>
  </form>

  <button class="button" type="submit">
    <a href="javascript:history.back()">Take me back</a>
  </button>
  </div>

  </div>
  

</section>