<div class="activity-details">

    <p>this is a change</p>

    <h1>{{this.title}}</h1>
    <hr>
    <img src="{{this.image}}" alt="image of an activity"/>
    <p>{{this.description}}</p>
    <p>{{this.author.username}}</p>

</div>

<button type="submit">
    <a href="/activity/{{this._id}}/edit">Edit this activity</a>
</button>

<form action="/activities/{{this.id}}/delete" method="POST">
    <button type="submit">Delete activity</button>
</form>

<button type="submit">
    <a href="javascript:history.back()">Take me back</a>
</button>