<section>
  <div>

    <h1>{{activityFromDB.title}}</h1>

    <div>
      <div>
        <h3>Description</h3>
        <p>{{activityFromDB.description}}</p>
      </div>

      <div>
        <h3>Creator</h3>
        <p>The author of this activity is {{activityFromDB.author.username}}</p>
      </div>

    </div>

  </div>

  {{#if authorIsUser}}
    {{#if currentUrl}}
      <button type="submit">
        <a href="/activity/{{activityFromDB._id}}/edit">Edit this activity</a>
      </button>

      <form action="/activities/{{activityFromDB.id}}/delete" method="POST">
        <button type="submit">Delete activity</button>
      </form>
    {{/if}}

  {{/if}}
  
  <div>
    <form action="/activities/{{activityFromDB.id}}/details" method="post">
    <button type="submit">Log activity</button>
  </form>

  <button type="submit">
    <a href="javascript:history.back()">Take me back</a>
  </button>

  </div>
  

</section>