<div class="activity-details">

    <p>this is a change</p>

    <h1>{{activityFromDB.title}}</h1>
    <hr>
    <img src="{{activityFromDB.image}}" alt="image of an activity"/>
    <p>{{activityFromDB.description}}</p>
    <p>{{activityFromDB.author.username}}</p>

</div>

{{#if authorIsUser}}
    <button type="submit">
        <a href="/activity/{{activityFromDB._id}}/edit">Edit this activity</a>
    </button>

    <form action="/activities/{{activityFromDB.id}}/delete" method="POST">
        <button type="submit">Delete activity</button>
    </form>
{{/if}}

<form action="/activities/{{activityFromDB.id}}/details" method="get">
    <button type="submit">Log activity</button>
</form>

<button type="submit">
    <a href="javascript:history.back()">Take me back</a>
</button>