<section class="display">
  <div class="activity-details">

    <h1>{{activityFromDB.title}}</h1>

    <div id="box-details" class="box">
      <p>{{activityFromDB.description}}</p>
      <p>{{activityFromDB.author.username}}</p>
    </div>

  </div>

  {{#if authorIsUser}}
    {{#if currentUrl}}
      <button type="submit">
        <a href="/activity/{{activityFromDB._id}}/edit">Edit this activity</a>
      </button>

      <form action="/activities/{{activityFromDB.id}}/delete" method="POST">
        <button type="submit">Delete activity</button>
      </form>
    {{/if}}

  {{/if}}

  <form action="/activities/{{activityFromDB.id}}/details" method="post">
    <button type="submit">Log activity</button>
  </form>

  <button type="submit">
    <a href="javascript:history.back()">Take me back</a>
  </button>

</section>