<form action="/activities/create" method="post">
    <label>Title
        <input type="text" name="title" value="{{activityDetailsFromDB.title}}" />
    </label>

    <label>Mood
        <select name="mood">
            {{#each activityDetailsFromDB.mood}}
            <option value="{{this.name}}"></option>
            {{/each}}
        </select>
    </label>
    //TODO: bug to come

    <label>Energy Level
        <select name="energyLvl">
            {{#each activityDetailsFromDB.energyLvl}}
            <option value="{{this.value}}"></option>
            {{/each}}
        </select>
    </label>

    <label>Description
        <input type="text" name="description" value="{{activityDetailsFromDB.description}}"/>
    </label>

    <label>Image
        <input type="image" name="image" value="{{activityDetailsFromDB.image}}"/>
    </label> //TODO: bug to come

    <button type="submit">Create new activity!</button>

    <button type="submit">
        <a href="/activities/{{activityDetailsFromDB.id}}/details">Take me back!</a>
    </button>
</form>